<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>
      <%= @user.username %>'s page (<%= @user.own_photos.count %> photos)
    </h1>
    <%= render "shared/usertabs" %>


  </div>
</div>

<% @user.own_photos.each do |photo| %>

  <div class="col-md-6 offset-md-3 mb-4">
    <%= render "photos/photo", photo: photo %>
  </div>

<% end %>
